header {
  background-color: brown;
  color: white;
  padding: 20px;
  font-size: 50px;
  text-align: center;
}

nav {
  background-color: royalblue;
  display: inline-block;
}

main {
  background-color: yellow;
  display: inline-block;
}

aside {
  background-color: teal;
  display: inline-block;
}

footer {
  background-color: sienna;
  color: white;
  padding: 20px;
  font-size: 50px;
  text-align: center;
}

ul {
  list-style-type: none;
}
